{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row container-fluid FirstParagraph">
    A fully licensed Master Electrician providing quality 
    customer service and workmanship to the Bow Valley since 2020
</div>

<hr>

<div class="row container-fluid SecondRow">
    <div class="col-md-4 col-sm-12 ImageRow">
        <img src="{{ MEDIA_URL }}IMG_2102.JPG" class="HomePageImage">
    </div>
    <div class="col-md-8 col-sm-12">
        <p class="SecondParagraph">
            A fully licensed Master Electrician ready to serve the Bow Valley with any electrical needs. 
            Ranging from residential repairs, renovations and new builds to commercial trouble shooting, 
            repairs and new construction. 
            At Jolly's Electrical Services we strive to provide quality customer service and workmanship.  
        </p>
    </div>
</div>

<hr>

<div class="row container-fluid ThirdParagraph">
    <a href="{% url 'contact' %}">Contact us to get started on your free quote!</a>
</div>

{% endblock %}