{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="ContactHeader">Contact</h1>
<hr>
<div class="row container-fluid ThirdParagraph">
    <p>
        Call me today on <a href="tel:+1 (204)-232-5240">+1 (204)-232-5240</a> or send me an email and I will get back to you.
    </p>
</div>
<div class="row contact">
   
<form id="contact-form">
        <input type="hidden" name="contact_number" size="50">
        <div>Name:</div>
        <input type="text" name="user_name" size="50">
        <div>Email:</div>
        <input type="email" name="user_email" size="50">
        <div>Message:</div>
        <textarea name="message" cols="50" rows="8"></textarea><br>
        <input type="submit" value="Send" class="contactbutton">
    </form>
</div>

{% endblock %}

