body {
    background-color: #343c56;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    word-spacing: 1.5px;
    
}

/*-- BASE.HTML --*/
.logo {
    max-width: 80%;
    max-height: 80%;
}

.navbar-brand {
    max-width: 50%;
}

.navbar {
    background-color: #343c56;
    width: 100%;
}

.navbarDiv {
    margin-left: 15px;
}

.nav-item:hover {
    color: whitesmoke;
}


/*-- INDEX.HTML --*/
hr {
    background-color: #c0b69e;
    height: 3px;
    width: 75%;
}

.ImageRow {
    justify-content: center;
    text-align: center;
}

.SecondRow {
    margin-left: 15px;
}


/* -- For large screens --*/
@media screen and (max-width: 2000px) {
    .FirstParagraph {
    color: #c0b69e;
    margin: 20px;
    font-size: 22px;
    justify-content: center;
}


.SecondParagraph {
    color: #c0b69e;
    text-align: center;
    padding-top: 50px;
    font-size: 22px;
}

.HomePageImage {
    max-width: 300px;
    max-height: 250px;
    margin: 20px;
    border-radius: 30px;
}
.ThirdParagraph {
    color: #c0b69e;
    justify-content: center;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 22px;
}

.nav-item {
    color: #c0b69e;
    text-align: right;
    font-size: 22px;
}
.navbar-toggler {
    background-color: #c0b69e;
    border-radius: 0%;
    color: #343c56;
    padding: 10px;
   margin: 15px;
   font-size: 20px;
   border-color: #343c56;
   border-radius: 10px;
   border-width: 2px;
}

/*-- MEET THE TEAM --*/

.MeetTheTeam {
    color: #c0b69e;
    text-align: center;
    font-size: 50px;
    margin-top: 15px;
}

.TyHeadshot {
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
    text-align: center;
    margin-left: 50px;
}


.TyJolly{
    color: #c0b69e;
    text-decoration: underline;
    font-size: 40px;
}

.AboutMeText{
    color: #c0b69e;
    font-size: 22px;
  
}
}

/*-- For medium or smaller screens --*/
@media only screen and (max-width: 768px) {
    .FirstParagraph {
    color: #c0b69e;
    font-size: 15px;
    text-align: center;
}


.SecondParagraph {
    color: #c0b69e;
    text-align: center;
    padding-top: 15px;
    font-size: 15px;
}

.HomePageImage {
    max-width: 200px;
    max-height: 150px;
    margin: 20px;
    border-radius: 30px;
}
.ThirdParagraph {
    color: #c0b69e;
    text-align: center;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
}

.nav-item {
    color: #c0b69e;
    text-align: right;
    font-size: 12px;
}

.navbar-toggler {
    background-color: #c0b69e;
    border-radius: 0%;
    color: #343c56;
    padding: 10px;
   margin: 15px;
   font-size: 12px;
   border-color: #343c56;
   border-radius: 10px;
   border-width: 2px;
}
/*-- MEET THE TEAM --*/

.MeetTheTeam {
    color: #c0b69e;
    text-align: center;
    font-size: 40px;
    margin-top: 15px;
}

.TyHeadshot {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    text-align: center;
    margin-left: 50px;
}


.TyJolly{
    color: #c0b69e;
    text-decoration: underline;
    font-size: 30px;
    text-align: center;
    margin-left: 15px;
}

.AboutMeText{
    color: #c0b69e;
    font-size: 17px;
    text-align: center;
    margin-left: 25px;
}
}










