{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1 class="MeetTheTeam">Meet the team</h1>
<hr>
<br>

<div class="row container-fluid">
    <div class="col-md-4 col-sm-12 headshot">
        <img src="{{ MEDIA_URL }}IMG_2106.JPG" class="TyHeadshot">
    </div>
    <div class="col-md-8 col-sm-12">
        <p class="AboutMeText">
            <span class="TyJolly">Tyler Jolly</span><br>
            Originally from Winnipeg. I have been living
             and working in the Bow Valley since 2018. When I am not working I am Fishing, 
             biking and skiing. The Bow Valley has opened me up to so many new experiences 
             and that is why I have decided to plant my roots here and open my business. 
        </p>
    </div>

</div>

{% endblock %}